<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataGenius</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  
  
<nav class="navbar">
    <div class="container_navbar">
        <a href="#" class="logo"><b><h1>DataGenius</h1></b></a>
        <ul class="nav-links">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('analytics') }}">AI Analytics</a></li>
        </ul>
    </div>
</nav>

  

<div class="container">
  
    <h2>Welcome to DataGenius</h2>

    <p>Upload your data file to effortlessly query and explore your information using cutting-edge 
        AI-driven retrieval-augmented generation. Harness the power of PySpark and LLM integration
        for valuable insights at your fingertips</p>  
</div>

  

 <div class="container">
    <h2>Motivation:</h2>
    <p>        I created this free CSV query agent because I believe in leveling the playing field for data access.
        Everyone should have the tools to extract insights, regardless of financial constraints. 
        By offering this service for free, we empower individuals and businesses alike to unlock the potential of their data without worrying about costs. 
        Let's make data analysis accessible to all, without barriers.</p>
</div>

</body>
</html>
